$primary_colour: #2a68d4;
$box_shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
$success_colour: #67c23a;
$error_colour: #f56c6c;
$border_radius: 10px;
$border: 1px solid #ebeef5;

.overflow {
  overflow: auto;
  &:after {
    content: "";
    display: block;
    margin-bottom: 100%;
  }
}
p,
span,
small,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}
.rounded {
  border-radius: $border_radius;
}
.shadow {
  box-shadow: $box_shadow;
}
.txt_center {
  text-align: center;
}
.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}
.large_icon {
  font-size: 3em;
}
.capitalize {
  text-transform: capitalize;
}
.txt-large {
  font-size: 1.3em;
}
.l-height-large {
  line-height: 1.6em;
}
#app {
  overflow: hidden;
  border-collapse: collapse;
  height: 100%;

  /**
  _   _  _  ___ _  _    ___
  | \_/ |/ \| o ) || |  | __|
  | \_/ ( o ) o \ || |_ | _|
  |_| |_|\_/|___/_||___||___|

*/
  &.mobile {
    overflow: scroll;
    .el-drawer__body {
      overflow-y: scroll;
    }
  }
}
.trigger {
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f3f3f3;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f4f4f4;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #999;
}

@import "./spacing";
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #999;
}
.height-100 {
  height: 100%;
}
.desc {
  font-size: 12px;
  color: #606266;
  margin-top: 7px;
}
.light {
  font-weight: 300;
}
.bold {
  font-weight: bold;
}
.grey {
  color: #999;
}
.black {
  color: black;
}
.primary {
  color: $primary_colour;
}
.columns {
  flex-direction: column;
}
.caps {
  text-transform: uppercase;
}
a {
  text-decoration: none;
}
.member_name {
  text-transform: capitalize;
}
.client_error_dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .button_container {
    display: flex;
    justify-content: space-between;
  }
  .client_name {
    width: 80%;
  }
}
.rounded_image {
  border-radius: 10px;
}
.flex {
  display: flex;
}
.flex--center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.align-end {
  align-items: flex-end;
}
.flex--space-between {
  justify-content: space-between;
}
.flex-1 {
  flex: 1;
}
.flex--start {
  justify-content: flex-start;
}
.flex--end {
  justify-content: flex-end;
}
.align-end {
  align-items: flex-end;
}
.align-start {
  align-items: flex-start;
}
.flex_center {
  justify-content: center;
  display: flex;
  align-items: center;
}
.posr {
  position: relative;
}
.posa {
  position: absolute;
}

:export {
  default: #0d243f;
}

/**
// @import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=ac1e1b2a-4472-4043-bb43-7925ca5b822d");
// @font-face {
//   font-family: "AvenirNextLTW01-Regular";
//   src: url("./assets/Fonts/e9167238-3b3f-4813-a04a-a384394eed42.eot?#iefix");
//   src: url("./assets/Fonts/e9167238-3b3f-4813-a04a-a384394eed42.eot?#iefix")
//       format("eot"),
//     url("./assets/Fonts/2cd55546-ec00-4af9-aeca-4a3cd186da53.woff2")
//       format("woff2"),
//     url("./assets/Fonts/1e9892c0-6927-4412-9874-1b82801ba47a.woff")
//       format("woff"),
//     url("./assets/Fonts/46cf1067-688d-4aab-b0f7-bd942af6efd8.ttf")
//       format("truetype");
// }

**/
