$box_shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
$success_colour: #99b898;
$error_colour: #f56c6c;
$border_radius: 10px;
$border: 0.3px solid #ebeef5;
$default_colour: rgb(42, 54, 59);
$default_gradient: linear-gradient(
  to right,
  #13547a,
  #80d0c7,
  #2c5364
); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

$element_colour: #6b7a8f;
$default_transition: 0.16s linear;
$hover_grey: rgb(252, 252, 252);
$app_bar_height:64px;


/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(144, 147, 153, 0.3);
  border-radius: 20px;
  transition: 0.56s ease-in-out background;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(210, 210, 210);
  cursor: pointer;
}

@mixin floating_item {
  position: absolute;
  top: -10px;
  right: 0;
  border-radius: 50%;
  background: #efefef;
  padding: 0px 10px;
  z-index: 999;
  color: #888;
  cursor: pointer;
  &:hover {
    background: darken(#efefef, 4);
  }
}
:export {
  default: $default_colour;
}
