
$box_shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
$error_colour: #f56c6c;
$border_radius: 10px;
$border: 2px solid whitesmoke;
$default_colour: rgb(42, 54, 59);
$grey: rgb(250, 250, 250);


$element_colour: #6b7a8f;
$default_transition: 0.16s linear;
$hover_grey: rgb(252, 252, 252);
$app_bar_height:64px;


@mixin floating_item {
  position: absolute;
  top: -10px;
  right: 0;
  border-radius: 50%;
  background: #efefef;
  padding: 0px 10px;
  color: #888;
  cursor: pointer;
  &:hover {
    background: darken(#efefef, 4);
  }
}

