$box_shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
$success_colour: #67c23a;
$error_colour: #f56c6c;
$border_radius: 10px;
$border: 0.3px solid #ebeef5;
$default_colour: #2a363b;
$default_gradient: linear-gradient(
  to right,
  #13547a,
  #80d0c7,
  #2c5364
); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
$element_colour: #6b7a8f;
$default_transition: 0.16s linear;
$hover_grey: rgb(252, 252, 252);
